/* .diet-wrapper {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .diet-plan-container {
    margin: 20px;
  }
  
  .diet-plan-title {
    color: #333;
    text-align: center;
  }
  
  .diet-option {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s;
  }
  
  .weight-gain-option {
    background-color: #d1e7dd;
  }
  
  .weight-loss-option {
    background-color: #f8d7da;
  }
  
  .keto-diet-option {
    background-color: #cff4fc;
  }
   */